
.container{
    display:flex;
    justify-content: space-evenly;
}



.card {
    width: 300px;
    
}
.card > img{
    width: 100%; 
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
   
}

.images{
    display: flex;
    gap: 2.5rem;
    margin-left: 2.5rem;
    

}


